* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

article {
  min-height: 100vh;
  background-color: yellowgreen;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

div {
  width: 300px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(196, 166, 196);
  justify-self: center;
}

div img {
  width: 100%;
}

@media (max-width: 880px) {
  article {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  article {
    grid-template-columns: 1fr;
    background-color: black;
    padding: 0;
  }

  div {
    width: 90%;
  }
}
