* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: azure;
}

button {
  border: none;
  padding: 5px 10px;
  background-color: yellowgreen;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(123, 161, 48);
}
